/****general*****/

:root{
    --color-1:#f02AA6,#ff6f48;
    --color-2:#13183f;
    --text-color:#83869A;
}


* {
    font-family: 'Jakarta',sans-serif;
}

body{
    font-size: 18px;
    margin: 0px;
}
/******nav-header****/
.nav-bar{
    display: flex;
    justify-content: space-between;
    position: relative;
    padding-right: 15%;
    padding-top: 1%;
}

.logo{
    width: 130px;
    height: 35px;
    padding-left: 160px;
}

.Button{
    display: flex;
    flex-wrap: wrap;
    position: relative;
    padding-bottom:1%;
}

.get-started{
    width: 145px;
    height: 45px;
    border-radius: 25px;
    border:0;
    background-color: #13183f;
    color: #fff;
    font-weight: 500;
    font-size: 15px;
}

.img{
    display: flex;
    float: right;
    width: 70%;
    position:relative;
    bottom:240px;
    right: 10%;
    left:17%;
}

/*****intro-section*****/

.intro-text{
    padding-bottom:30px;

    color: var(--text-color);
}

.content-title{
    font-size: 56px;
    line-height: 56px;
    color: #000;
}

.content-body{
    display: flex;
    flex-wrap: wrap;
    line-height: 25px;
    padding-bottom: 30px;
}

.Get-Started{
    background-image: linear-gradient(#ff6f48,#f02AA6);
    width: 120px;
    border-radius: 30px;
    border: 0;
    height: 45px;
    color: #fff;
}

/*******courses-section******/
 
.course-cards{
    display: flex;
    flex-wrap:wrap;
    gap: 30px;
    background-image: linear-gradient(#ffff,#F0F1FF);
}



.text-styling{
    text-decoration: none;
    color: #f74780;
    padding-left: 25px;
}

.card-body{
    line-height: 25px;
    padding-left: 25px;
    padding-top: 15px;
}

.title{
    font-size: 24px;
    color:#000;
}

.text-title{
    font-size: medium;

}

.Check-out-card{
    width: 65%;
    height: 250px;
    background-image:linear-gradient(#ff6f48,#f02AA6);
    border-radius: 15px;
    font-size: 32px;
    color: #fff;
    padding-left: 25px;
    line-height: 45px;
}

.Animation-card{
    width: 70%;
    height: 250px;
    border-radius: 15px;
    box-shadow: 0 4px 10px lightgray;
    font-size: medium;
    color: var(--text-color);
   
}

.Design-card{
    width: 70%;
    height: 250px;
    border-radius: 15px;
    box-shadow: 0 4px 10px lightgray;
    font-size: medium;
    color: var(--text-color);
    
}

.Photography-card{
    width: 70%;
    height: 250px;
    border-radius: 10px;
    box-shadow: 0 4px 10px lightgray;
    font-size: medium;
    color: var(--text-color);
}

.Crypto-card{
    width:66%;
    height: 250px;
    border-radius: 10px;
    box-shadow: 0 4px 10px lightgray;
    font-size: medium;
    color: var(--text-color);
    
}

.Business-card{
    width:66%;
    height: 250px;
    border-radius: 10px;
    box-shadow: 0 4px 10px lightgray;
    font-size: medium;
    color: var(--text-color);
}