/****general*****/

:root{
    --color-1:#f02AA6,#ff6f48;
    --color-2:#13183f;
    --text-color:#83869A;
}


* {
    font-family: 'Jakarta',sans-serif;
}

body{
    font-size: 18px;
}
/******nav-header****/
.nav-header{
    display: flex;
    justify-content: space-between;
    position: relative;
    padding-right: 10%;
    padding-top: 1%;
    

}

.logo{
    width: 10%;
    height: 35px;
    padding-left: 10%;
}

.get-started{
    width: 145px;
    height: 45px;
    border-radius: 25px;
    border:0;
    background-color: #13183f;
    color: #fff;
    font-weight: 500;
    font-size: 15px;
}
/*****intro-section*****/

.intro-section{
    display: flex;
}

.img{
    float: right;
    width: 70%;
    position:relative;
    bottom:200px;
    left:23%;
}

.Get-Started{
    background-image: linear-gradient(#ff6f48,#f02AA6);
    width: 120px;
    border-radius: 30px;
    border: 0;
    height: 40px;
    color: #fff;
}

/*******courses-section******/
 
.course-cards{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    background-image: linear-gradient(#ffff,#F0F1FF);
}

.course-cards .card{
    display: flex;
    flex-direction: column;
    width: 66%;
    
}

.text-styling{
    text-decoration: none;
    color: #f74780;
    padding-left: 25px;
}

.card-body{
    line-height: 25px;
    padding-left: 25px;
    padding-top: 15px;
    font-size: medium;
    color: var(--text-color);
}

.title{
    font-size: 24px;
    color:#000;
}

.icon{
    position: absolute;
    padding-bottom:20px;
}

.Check-out-card{
    width: 60%;
    height: 250px;
    background-image:linear-gradient(#ff6f48,#f02AA6);
    border-radius: 15px;
    font-size: 32px;
    color: #fff;
    padding-left: 25px;
    line-height: 45px;
}

.Animation-card{
    width: 66%;
    height: 250px;
    border-radius: 15px;
    box-shadow: 0 4px 10px lightgray;
   
}

.card{
    width: 66%;
    height: 250px;
    border-radius: 15px;
    box-shadow: 0 4px 10px lightgray;
}

.Photography-card{
    width: 66%;
    height: 250px;
    border-radius: 10px;
    box-shadow: 0 4px 10px lightgray;
    font-size: medium;
    color: var(--text-color);
}

.Crypto-card{
    width:66%;
    height: 250px;
    border-radius: 10px;
    box-shadow: 0 4px 10px lightgray;
    font-size: medium;
    color: var(--text-color);
    
}

.Business-card{
    width:66%;
    height: 250px;
    border-radius: 10px;
    box-shadow: 0 4px 10px lightgray;
    font-size: medium;
    color: var(--text-color);
}